# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.local
.env.*.local

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Optional package-lock files (se não quiser versionar)
package-lock.json
yarn.lock
pnpm-lock.yaml
